/*Preloaded*/
.body{
    background-color: rgb(87, 87, 87);
    color: white;
}

  
  @font-face {
    font-family: 'vonique_64regular';
    src: url("../fonts/vonique_64-webfont.eot");
    src: url("../fonts/vonique_64-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/vonique_64-webfont.woff2") format("woff2"), url("../fonts/vonique_64-webfont.woff") format("woff"), url("../fonts/vonique_64-webfont.svg#vonique_64regular") format("svg");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: 'dekarregular';
    src: url("../fonts/dekar-webfont.eot");
    src: url("../fonts/dekar-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dekar-webfont.woff2") format("woff2"), url("../fonts/dekar-webfont.woff") format("woff"), url("../fonts/dekar-webfont.svg#dekarregular") format("svg");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: 'robotoblack';
    src: url("../fonts/roboto-black-webfont.eot");
    src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff"), url("../fonts/roboto-black-webfont.svg#robotoblack") format("svg");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: 'robotothin';
    src: url("../fonts/roboto-thin-webfont.eot");
    src: url("../fonts/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto-thin-webfont.woff") format("woff"), url("../fonts/roboto-thin-webfont.svg#robotothin") format("svg");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: 'robotobold';
    src: url("../fonts/roboto-bold-webfont.eot");
    src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.svg#robotobold") format("svg");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: 'robotoregular';
    src: url("../fonts/roboto-regular-webfont.eot");
    src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
    font-weight: normal;
    font-style: normal; }
  #contactanos, #precios, #galeria, #ofrecemos, #somos {
    margin-bottom: 5rem; }
  
  
  
  /*---------------*/
  /*-- SECCION 3 --*/
  /*---------------*/
  .seccion3 {
    border: 1px solid white;
    padding: 1rem;
    margin-top: 3rem;
    padding-bottom: 0;
}
  
  .seccion3 img.img {
    position: absolute;
    margin-top: -3.7rem; }
  
  .seccion3 h3 {
    margin-top: 3rem;
    font-family: 'vonique_64regular';
    font-size: 1.2rem;
    margin-bottom: 1rem;}
  
  .seccion3 H4 {
    font-family: 'robotoblack';
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 0.3rem;
    line-height: 1rem;
    text-align: center; }
  
  .seccion3 p {
    font-family: 'robotoblack';
    font-size: 3rem;
    margin: 1.5rem 0; }
  
  .contacto {
    background-color: #181818;
    color: white; }

    p{
        font-family: 'dekarregular';
        font-size: 1rem; 
    }
    .instrucciones{
        text-align: center;
        border: solid 1px rgb(255, 255, 255);
        background-color: #a5a5a500;
        color: rgb(51, 51, 51);
        border-radius: 25px;
        padding: 1rem;
        color: white;
    }
  
  
  /*---------------*/
  /*---------------*/
  /*---------------*/


    h2.contacto-h2 {
    font-family: 'vonique_64regular';
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    margin-bottom: 0rem;
    color: #FF9900;
    text-align: center; }

    
  
  label {
    font-family: 'dekarregular';
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin-top: 1rem; }


    /*---------------*/
    /*---------------*/
    /*---------------*/
  
  form input.entrada[placeholder="Nombre Completo"],
  form input.entrada[type="date"],
  form input.entrada[type="email"],
  form input.entrada[type="tel"],
  .seleccion {
    text-align: center;
    border: solid 1px #FF9900;
    background-color: #949494;
    color: rgb(17, 17, 17);
    height: 2.5rem;
    border-radius: 50px 50px;
    padding-bottom: 0.7rem;
   }

  

  
  form textarea.entrada[type="msg"] {
    border: solid 1px #FF9900;
    background-color: #949494;
    color: rgb(17, 17, 17);
    height: 5rem;
    border-radius: 15px;
    margin-top: 2rem; }



    /*---------------*/
    /*---------------*/
    /*---------------*/

.percepcion0{
  background-color: rgb(0, 0, 0);
  height: auto;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.percepcion0a{
    margin-top: auto;
    margin-bottom: auto;
}
.percepcion0b{
}
.percepcion1{
  background-color: rgb(139, 33, 33);
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.percepcion1a{
  font-size: 2rem;
  font-family: 'robotoblack';
  margin-top: auto;
  margin-bottom: auto;
}
.percepcion1b{
  font-size: 0.8rem;
}
.percepcion2{
  background-color: rgb(255, 115, 0);
  color: black;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.percepcion2a{
  font-size: 2rem;
  font-family: 'robotoblack';
  margin-top: auto;
  margin-bottom: auto;
}
.percepcion2b{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.8rem;
}
.percepcion3{
  background-color: rgb(255, 166, 0);
  color: black;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.percepcion3a{
  font-size: 2rem;
  font-family: 'robotoblack';
  margin-top: auto;
  margin-bottom: auto;
}
.percepcion3b{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.8rem;
}
.percepcion4{
  background-color: rgb(101, 163, 0);
  color: rgb(0, 0, 0);
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.percepcion4a{
  font-size: 2rem;
  font-family: 'robotoblack';
  margin-top: auto;
  margin-bottom: auto;
}
.percepcion4b{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.8rem;
}
.percepcion5{
  background-color: rgb(0, 140, 196);
  color: rgb(0, 0, 0);
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.percepcion5a{
  font-size: 2rem;
  font-family: 'robotoblack';
  margin-top: auto;
  margin-bottom: auto;
}
.percepcion5b{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.8rem;
}
.percepcion6{
  background-color: rgb(167, 134, 255);
  color: rgb(0, 0, 0);
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.percepcion6a{
  font-size: 2rem;
  font-family: 'robotoblack';
  margin-top: auto;
  margin-bottom: auto;
}
.percepcion6b{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.8rem;
}
.percepcion7{
  background-color: rgb(255, 113, 213);
  color: rgb(0, 0, 0);
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.percepcion7a{
  font-size: 2rem;
  font-family: 'robotoblack';
  margin-top: auto;
  margin-bottom: auto;
}
.percepcion7b{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.8rem;
}
    /*---------------*/
    /*---------------*/
    /*---------------*/


  
  button[id="btn"] {
    font-family: 'robotoblack';
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: #FF9900;
    border: transparent;
    padding: 0 1rem;
    padding-bottom: 0.1rem;
    border-radius: 15px;
    margin: 2rem 0;
    width: 7rem;
    height: 2rem;
    color: #181818; }
  
  button[id="btn"]:hover {
    border: 1px solid #FF9900;
    background-color: #181818;
    color: #FF9900; }
  
  button[id="btn"]:focus {
    outline: 0; }
  
/*---------------*/
/*---------------*/
/*---------------*/

  .info {
    background-image: url(../images/mapa.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25rem; }
  
  .info h5 {
    font-family: 'dekarregular';
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.1rem; }
  
  .info ul li {
    font-family: 'robotothin';
    padding: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1rem; }
  
  .info li i {
    content: '\f00d';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #FF9900; }
  
  
  
  /*# sourceMappingURL=estilos.css.map */